body {
   padding: 5% 10%;
}

button {
   display: block;
   margin: 2% 0;
}

.search {
   color: teal;
   border: solid 2px rgb(0, 200, 200);
   background-color: rgba(225, 225, 225, 0.7);
   padding: 10px 80px;
   font-size: 18px;
   border-radius: 180px;
}

.search:hover {
   background-color: rgb(200, 200, 200);
   cursor: pointer;
}

.plus {
   padding: 1.5%;
   background-color: rgb(0, 200, 200);
   color: white;
   font-weight: bold;
   border-radius: 50%;
   border: none;
}

.plus:hover {
   background-color: rgba(0, 200, 200, 0.6);
   cursor: pointer;
}

.account {
   background-color: rgb(35, 90, 215);
   color: white;
   border: 2px solid black;
   box-shadow: 3px 3px black;
   font-size: 20px;
   padding: 5px 20px;
}

.account:hover {
   cursor: pointer;
   background-color: rgb(0, 76, 255);
}